.todolistMain {
  margin-top: 20px;
  width: 100%;
  height: calc(100% - 120px);
  overflow: hidden;
}

.todolistMain__ul {
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  list-style: none;
}
