.error-container {
  width: 60px;
  height: 60px;

  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.error-x {
  width: inherit;
  height: inherit;
  color: rgb(218, 86, 86);
  font-size: 5rem;
}
